.avatar-badge,
.upload-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.admin-author-padge {
  margin-inline-end: 5px !important;
}

.avatar-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
