.App {
  text-align: center;
  /* font-family: "Libre Baskerville"; */
  /* font-family: "Alegreya Sans", sans-serif; */
  font-family: "Almarai", sans-serif;
  font-weight: 400;
}

/*---------- BUTTONS STYLING ----------*/

.btnMain {
  background-color: dodgerblue !important;
  color: white !important;
  font-size: 0.95rem !important;
}

.btnRed {
  background-color: #ff0f0f !important;
  color: white !important;
  font-size: 0.95rem !important;
}

.btnWarn {
  background-color: #eed202 !important;
  color: white !important;
  font-size: 0.95rem !important;
}

.btnFlex {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.btnMain:hover {
  background-color: white !important;
  color: dodgerblue !important;
  font-size: 1rem;
  transform: 0.3s;
}

.btnRed:hover {
  background-color: white !important;
  color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  font-size: 1rem;
  transform: 0.3s;
}

.btnWarn:hover {
  background-color: white !important;
  color: #eed202 !important;
  border-color: #eed202 !important;
  font-size: 1rem;
  transform: 0.3s;
}

.btnMainOut {
  background-color: white !important;
  color: dodgerblue !important;
}

/*---------- HEAD LINES STYLING ----------*/

.component-title {
  text-align: start;
  margin-bottom: 25px;
}

/*---------- TABLE HEAD STYLING ----------*/

.ant-table-thead > tr > th {
  background-color: dodgerblue !important;
  color: white !important;
  font-weight: bold !important;
}
